<h1>Class Input Report</h1>
<br>

{{#if successMessage}}
<div class="success-message">{{ successMessage }}</div>
{{/if}}  

{{#each result}}
<div class="input-form">

  <div class="input-row">

    <div class="input-components">
      <h2>{{classGroup}}</h2>
      <h3>{{classDateDeepFixed}}</h3>
    </div>

    <div class="input-components">

      <a href="/class-input-report/{{_id}}">
        <button name="class-input-report">Edit Student Records</button><br><br>
      </a>

      {{!-- <a href ="/edit-student-form/{{_id}}">
<button name="edit">Edit</button><br><br>
</a>

<a href ="/delete-student-refresh/{{_id}}">
<button name="delete">Delete</button><br><br>
</a>   --}}

    </div>
  </div>
  <br>
</div>
{{/each}}

{{#if successMessage}}
<br>
<a href="/class-list">
  <button name="class-list">Return to Class List Page</button><br><br>
</a>
{{/if}}  

<br>
<a href="/app">
  <button name="return">Return to Control Panel</button><br><br>
</a>